# .env.example
VITE_FIREBASE_VAPID_KEY=BJq2QbMlGOeSnuz94cUiQ-kqj6DqXGyIEa968-nBPmmPZ2V7Y_USSAhDodiPSiSwyWl-v8y8fP75byiWFgmFtlo
FIREBASE_SERVICE_ACCOUNT=
VITE_SUPABASE_URL=https://your-supabase-project.supabase.co
VITE_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
CHARIOW_API_KEY=

# Optionnel: URL personnalisé pour l'icône de l'application et le Favicon (ex: Google Drive public ou Wix direct)
VITE_APP_ICON_URL=
